<html>

<head>
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>

<body>
  <p>
    This is a web page. It is an
      <marquee class="goodness">amazingly good</marquee>
    webpage.
  </p>
</body>

</html>
